.kiosk-form {
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 3px 1px 20px 0px;
  h1 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 1024px) {
  .kiosk-form {
    h1 {
      font-size: 35px;
    }
    .innos-ui-button-content {
      font-size: 20px;
    }
  }
}
